:root {
    // Font sizes
    --header-menu-font-size: 1.8rem;
    --small-font-size: 1rem;
    --small-heading-font-size: 2.4rem;
    --main-heading-font-size: 4.8rem;
    --sub-text-font-size: 2rem;
    --footer-menu-font-size: 1.6rem;
    --footer-menu-head-font-size: 1.8rem;
    --footer-submenu-font-size: 1.2rem;
    --catalog-breadcrumbs-font-size: 1.4rem;
    --product-title-font-size: 2rem;
    --btn-font-size: 1.4rem;

    // Colors
    --gray-dark: #161616;
    --gray-dark-medium: #5F5F5F;
    --gray-dark-light: #2B2B2B;
    --gray-black: #010101;
    --gray-white: #FFFFFF;
    --gray-light: #CDCDCD;
}